<!DOCTYPE html>
<html>
<head>

<title>Hostel Boarders Manager</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
text-align:center;
}

.card{
display:inline-block;
padding:20px;
margin:10px;
background:white;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
width:200px;
}

input{
padding:10px;
width:300px;
margin-top:20px;
}

button{
padding:10px 20px;
cursor:pointer;
}

#result{
margin-top:30px;
}

</style>

</head>

<body>

<h2>Hostel Boarders Manager</h2>

<div class="card">
<h3>Total Students</h3>
<p id="total_students">0</p>
</div>

<div class="card">
<h3>Vacant Beds</h3>
<p id="vacant_beds">0</p>
</div>

<div class="card">
<h3>Vacant Rooms</h3>
<p id="vacant_rooms">0</p>
</div>

<br>

<input id="searchInput" placeholder="Enter Roll No or Name">

<button onclick="searchStudent()">Search</button>

<div id="result"></div>

<script>

let students=[]

fetch("/students")
.then(res=>res.json())
.then(data=>{

students=data.students

document.getElementById("total_students").innerText=data.total_students
document.getElementById("vacant_beds").innerText=data.vacant_beds
document.getElementById("vacant_rooms").innerText=data.vacant_rooms

})


function searchStudent(){

let input=document.getElementById("searchInput").value.toLowerCase()

let result=students.filter(s=>
s.roll.toLowerCase().includes(input) ||
s.name.toLowerCase().includes(input)
)

let html=""

result.forEach(s=>{

html+=`
<div class="card">
<p><b>${s.name}</b></p>
<p>Roll: ${s.roll}</p>
<p>Room: ${s.room}</p>
<p>Branch: ${s.branch}</p>
<p>Student Mobile: ${s.student_contact}</p>
<p>Mentor: ${s.mentor_name}</p>
<p>Mentor Mobile: ${s.mentor_contact}</p>
</div>
`

})

document.getElementById("result").innerHTML=html

document.getElementById("searchInput").value=""

}

</script>

</body>

</html>